* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #344e41;
  font-family: "Roboto Slab", serif;
}
.container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 150px;
}

#gen {
  color: white;
  font-size: 2rem;
}

#ran {
  color: #588157;
  font-weight: 700;
  margin-top: 10px;
  border-bottom: 4px solid #588157;
  width: fit-content;
}
.display {
  position: relative;
  width: 55%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: flex-end;
}
input {
  width: 100%;
  height: 50px;
  padding: 20px;
  font-size: 1.1rem;
  border-radius: 5px;
}

input:hover {
  border: 2px solid #588157;
}

.display i {
  position: absolute;
  color: #588157;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 10px;
}

button {
  background-color: #588157;
  border: none;
  border-radius: 5px;
  color: white;
  width: 25%;
  margin-top: 8px;
  width: 200px;
  height: 40px;
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #588157;
}

